<% include ../partials/header %>

<div class="landing camp">
    <h1><%= campGround.name%></h1>
    <img src="<%= campGround.image%>">
    <p>
        <%= campGround.description%>
    </p>
    <p>
        <a class="btn btn-success" href="/campgrounds/<%=campGround._id%>/comments/new">Give Comments</a>
    </p>
    <% campGround.comments.forEach(function(comment){ %>
        <p>
            <strong><%= comment.author %></strong>-<%=comment.text%>
        </p>
    <% }); %>
    <a href="/campgrounds">Go Back</a>
</div>

<% include ../partials/footer %>